@font-face {
    font-family: "Monserrat";
    src: url("../Assets/Fonts/Montserrat-VariableFont_wght.ttf") format("TrueType");
}

@font-face {
    font-family: "Open Sans";
    src: url("../Assets/Fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("TrueType");
    font-weight: 600;
}