@font-face {
    font-family: "Titillium Web";
    src: url("../../Assets/Fonts/TitilliumWeb-Regular.ttf") format("TrueType");
    font-weight: 400;
}

@font-face {
    font-family: "Titillium Web";
    src: url("../../Assets/Fonts/TitilliumWeb-SemiBold.ttf") format("TrueType");
    font-weight: 600;
}