//screen size
$desktop-size:1280px;
$tablet-size:768px;

//colors
//primary colors
$primary-color-blue: #13182C;
$primary-color-black: #000;
$primary-color-indigo:#2E66E6;
$primary-color-gold: #F8F32B;

//secondary color
$secondary-color-slate:#5C667E;
$secondary-color-light-blue:#B5EAFF;
$secondary-color-cloud: #BDC5D5;
$secondary-color-red:#A30000;

//background color
$background-color-graphite:#232940;
$background-color-blue: #05668D;
$background-color-grey:#F7F8F9;

//supporting color
$support-color-green:#158463;
$support-color-red:#C94515;

//white
$white:#FFFFFF;
